# Ignore Python bytecode
__pycache__/
*.pyc

# Visual Studio Code settings
.vscode/

# Environment variables file
.env

# Ignore compiled distribution files (if any)
*.exe
*.whl
*.pyd

# Ignore cache files and build artifacts
*.cache
*.egg-info/
dist/
build/
